body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  background-color: #191716;
  font-family: Karla, sans-serif;
}

.App {
  position: relative;
  width: 60vh;
  height: 60vh;
  background-color: #F5F7FB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz--message {
  text-align: center;
}

.start {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start--title {
  margin-bottom: 10px;
  color: #293264;
  font-size: 2.5rem;
}

.start--description {
  margin: 0;
  color: #293264;
  font-family: Inter, sans-serif;
  font-size: 1.25rem;
}

.start--button {
  margin-top: 25px;
  width: 200px;
  height: 55px;
  color: #F5F7FB;
  background-color: #4D5B9E;
  border: none;
  border-radius: 15px;
  font-family: Inter, sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.start--button:focus {
  outline: none;
}

.quiz {
  display: flex;
  flex-direction: column;
  padding: 50px 80px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.quiz--questions {
  width: 100%;
  flex-grow: 1;
  overflow-x: hidden;
}

.quiz--question {
  color: #293264;
  margin: 0;
}

.option {
  margin: 20px 20px auto auto;
  padding: 2px 20px;
  min-height: 30px;
  font-family: Inter, sans-serif;
  font-size: 0.9rem;
  border-radius: 11px;
  background-color: transparent;
  color: #293264;
  transition-duration: 100ms;
  transition-timing-function: ease-in;
}

.option:hover {
  background-color: #e3e6f5;
  border-color: #ffffff00;
}

.option:active {
  border-style: solid;
  background-color: #D6DBF5;
}

.option:focus {
  outline: none;
}

.selected {
  background-color: #D6DBF5;
  border-color: #ffffff00;
}

.correct {
  background-color: #94D7A2;
  border-color: #ffffff00;
}

.incorrect {
  background-color: #F8BCBC;
  opacity: 0.5;
  border-color: #ffffff00;
}

.quiz--divider {
  margin: 20px 0px;
  width: 100%;
  border-top: 1px solid #DBDEF0;
}

.quiz--question--box:last-child > hr {
  border: none;
}

.quiz > .quiz--divider {
  margin: 20px auto 30px;
}

.quiz--footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz--result {
  font-family: Karla, sans-serif;
  font-size: 1.1rem;
  color: #293264;
}

.quiz--check {
  margin-left: 15px;
  width: 160px;
  min-height: 40px;
  color: #F5F7FB;
  background-color: #4D5B9E;
  border: none;
  border-radius: 13px;
  font-family: Inter, sans-serif;
  font-weight: 500;
}
